---
import BtnBack from '../components/btn_back.astro';
import MinimalBlogCard from '../components/minimalBlogCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Minimal Blog Card">
    <MinimalBlogCard></MinimalBlogCard>
    <div><BtnBack></BtnBack></div>
</Layout>

<style>
    div{
        position: absolute;
        top: 10px;
        left: 10px;
    }
</style>

