<main>
  <div class="prin">
    <div class="top">
      <img src="/Business Blog Card/white-overlay.svg" />
    </div>
    <section class="middle">
      <h1>Perfect solution for small business</h1>
      <p>
        Small businesses need to generate leads to grow. You can use tools like
        Ringy.
      </p>
    </section>
    <section class="down">
      <img src="/Business Blog Card/avatar-image-business.png" alt="" />
      <aside>
        <h3>Amy Burgess</h3>
        <p>Customer Manger, Solution Oy</p>
      </aside>
    </section>
  </div>
</main>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f2f5f9;
  }

  .prin {
    height: 380px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0.4rem 0.4rem 2rem 0.1rem hsla(0, 0%, 0%, 0.1);
  }

  .top {
    background-color: #f2f5f9;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url("/Business Blog Card/hero-image-business-card.png");
    border-radius: 16px 16px 0 0;
    position: relative;
  }

  .top img {
    position: absolute;
    bottom: -1px;
  }

  .middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 110px;
    padding: 0 25px;
    margin-bottom: 15px;
  }

  .middle h1 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 21px;
  }

  .middle p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 11px;
    color: #677489;
  }

  .down {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: #e5eaf0 solid 1px;
    width: 100%;
    padding: 0 25px;
  }

  .down img {
    width: 25px;
    border-radius: 100%;
    margin-right: 10px;
  }

  .down h3 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 12px;
  }

  .down p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: #677489;
  }
</style>
