---
interface Props {
  url: string;
  img: string;
  name: string;
}

const { url, img, name } = Astro.props;
---

<div class="card">
  <div class="card-details">
    <img src={img} />
    <p class="text-title">{name}</p>
  </div>
  <a class="card-button" href={url}>Show component</a>
</div>

<style>
  img{
    width: 60px;
    height: 60px;
  }

  .card {
    margin: 20px;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background: #0079a1;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #deefe7;
    transition: 0.5s ease-out;
    overflow: visible;
  }

  .card-details {
    color: #deefe7;
    height: 100%;
    gap: 0.5em;
    display: grid;
    place-content: center;
    justify-items: center;
  }

  .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #0c506d;
    border: #54f2ff solid 1px;
    font-family: "Sora";
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
  }

  /*Text*/
  .text-title {
    font-size: 1.5em;
    font-family: "Sora";
    font-weight: bold;
    text-align: center;
  }

  /*Hover*/
  .card:hover {
    border-color: #54f2ff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    cursor: default;
  }

  .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
  }

    @media screen and (max-width: 584px) {
	nav{
		height: auto;
	}
  }
</style>
